@model ClinicaMVC3.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Criação de nova conta</h2>

<p>
    É obrigatório a senha ter no minimo @Membership.MinRequiredPasswordLength caracteres de comprimento
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "A criação da conta não teve sucesso. Por favor, corrija os erros e tente novamente.")
    <div>
        <fieldset>
            <legend>Informações de conta</legend>

            @Html.Partial("RegisterPartial")

            <p>
                <input type="submit" value="Registrar" />
            </p>
        </fieldset>
    </div>
}
