

<script type="text/javascript">

    $(document).ready(
        function () {


            /* <th>Número</th>             =0*/
            /* <th>Tipo</th>               =1*/
            /* <th>Tipo-Hidden</th>        =2*/
            /* <th>TelefoneId</th>         =3*/
            /* <th>PacienteTelefoneId/FuncionarioTelefoneId</th> =4*/


            // here i have used datatables.js (jQuery Data Table)
            $('.tbl').dataTable(
                {
                    "aoColumnDefs":
                    [
                            { "bVisible": false, "aTargets": [2] },
                            { "bVisible": false, "aTargets": [3] },
                            { "bVisible": false, "aTargets": [4] }

                    ],
                    "sDom": 'T<"clear">lfrtip',
                    "oTableTools":
                    {
                        "aButtons": [],
                        "sRowSelect": "single"
                    },
                    "oLanguage":
                    {
                        "sLengthMenu": "Mostrar _MENU_ registros por página.",
                        "sZeroRecords": " ",
                        "sInfo": "Mostrando _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": " "
                    },
                    "bLengthChange": false,
                    "bSort": true,
                    "bInfo": false,
                    "bFilter": false,
                    "bJQueryUI": true
                }
            );
        }
    );


    // Esta função serve para adicionar á um item na tabela
    function Add() {
        var isValid = false;

        isValid = $('form').validate().element($('#Numero'));
        isValid = ($('form').validate().element($('#Tipo'))) ? isValid : false;


        if (isValid) {
            $('.tbl').dataTable().fnAddData([$('#Numero').val(),                /* <th>Número</th>            */
                                             $('#Tipo option:selected').text(), /* <th>Tipo</th>              */
                                             $('#Tipo option:selected').val(),  /* <th>Tipo-Hidden</th>       */
                                             0,                                 /* <th>TelefoneId</th>        */
                                             0]);                               /* <th>PacienteTelefoneId/FuncionarioTelefoneId</th>*/

            //Esvaziando os componentes.
            $('#Numero').val("");

        }


    }

    function DeleteRow() {

        var oTT = TableTools.fnGetInstance('tbl'); // Get Table instance
        if ((oTT != undefined) && (oTT != null)) {
            var sRow = oTT.fnGetSelected(); // Get Selected Item From Table
            if ((sRow != '') && (sRow != undefined) && (sRow != null)) {
                $('.tbl').dataTable().fnDeleteRow(sRow[0]);
            }
        }

    }

</script>


<fieldset>
    <legend>Telefones</legend>
    <div class="editor-label">
        @Html.LabelFor(model => new ClinicaMVC3.Models.Telefone().Numero)
    </div>
    <div class="editor-field">
        @if (ViewBag.Method == "Detail")
        {
            @Html.DisplayFor(model => new ClinicaMVC3.Models.Telefone().Numero)
        }
        else
        {
            @Html.EditorFor(model => new ClinicaMVC3.Models.Telefone().Numero)
            @Html.ValidationMessageFor(model => new ClinicaMVC3.Models.Telefone().Numero)
        }
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => new ClinicaMVC3.Models.Telefone().Tipo)
    </div>
    <div class="editor-field">                        
        @if (ViewBag.Method == "Detail")
        {
            @Html.DisplayFor(model => new ClinicaMVC3.Models.Telefone().Tipo)
        }
        else
        {                
            @Html.TelefoneDropdown(model => new ClinicaMVC3.Models.Telefone().Tipo, true)                
            @Html.ValidationMessageFor(model => new ClinicaMVC3.Models.Telefone().Tipo)
        }
    </div>
            
    
    <input type="button" @if (ViewBag.Method == "Detail")
                         {@Html.Encode("disabled")} value= "Add" onclick="Add()"  />   


    <br />

   <table style="width: 100%;"  class="tbl" id="tbl">
   <thead>
   <tr>
        <th>Número</th> 
        <th>Tipo</th> 
        <th>Tipo-Hidden</th>
        <th>TelefoneId</th>
        <th>PacienteTelefoneId/FuncionarioTelefoneId</th>
   </tr>
   </thead>
   <tbody>
   @if (ViewData.Model != null)
   {
       if (ViewBag.ModelClass == "Paciente")
       {
           foreach (var item in ViewData.Model.PacienteTelefone)
           { 
            <tr>
                <td>
                    @item.Telefone.Numero
                </td>           
                <td>
                    @System.Web.Mvc.Html.MvcHtmlExtensions.TelefoneDisplayFor(item.Telefone.Tipo.ToString())
                </td>           
                <td>
                    @item.Telefone.Tipo
                </td>           
                <td>
                @item.Telefone.TelefoneId
                </td>           
                <td>
                   @item.PacienteTelefoneId
               </td>
            </tr>
           }
       }
       else
       {
           foreach (var item in ViewData.Model.FuncionarioTelefone)
           { 
            <tr>
                <td>
                    @item.Telefone.Numero
                </td>           
                <td>
                    @System.Web.Mvc.Html.MvcHtmlExtensions.TelefoneDisplayFor(item.Telefone.Tipo.ToString())
                </td>           
                <td>
                    @item.Telefone.Tipo
                </td>           
                <td>
                @item.Telefone.TelefoneId
                </td>           
                <td>
                   @item.FuncionarioTelefoneId
               </td>
            </tr>
           }
       }
   }
   </tbody>
   
   </table>
   <br />

   

   <input type="button" 
   
   @if (ViewBag.Method == "Detail")
   {
       @Html.Encode("disabled")
   }
   
   value="Excluir linha" onclick="DeleteRow()" />
</fieldset>   