
@model ClinicaMVC3.Models.PlanoSaude

@{
}

<h2>@ViewBag.Title</h2>
<h3>Exclusão de registro</h3>

<span>Você tem certeza que deseja excluir este registro?</span>

@using (Html.BeginForm()) {
	<fieldset>
	 
		@Html.HiddenFor(model => model.PlanoSaudeId)
		    
		
		<div class="display-label">
			@Html.LabelFor(model => model.Descricao)
		</div>


		<div class="display-field">
			@Html.DisplayFor(model => model.Descricao)
		</div>

		    
		<p>
			 <input type="submit" value="Excluir" /> 
			 @Html.ActionLink("Voltar", "Index")
		</p>
	</fieldset>

}
